.title {
    color: black;
    font: bold 40px Times;
    padding-left: 30px;
}

.list {
    list-style: none;
    padding: 10px 40px;

}

li {
    color: rgb(2, 2, 2);
    word-spacing: 3px;
    font: 18px monospace;
    line-height: 1.5;
    border: 2px solid rgb(39, 169, 58);
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 5px;

}


